<div class="fix-content">
	<div class="product-listing">
		<!-- <h2>Order</h2> -->
		<div>
		<br>
			<form>
				<fieldset style="border: 5px solid lightgray; width: 350px">
					<legend>Order Detail</legend>
					<br>
					<div>
						<label style="margin-right: 20px">Products</label>
						 <select
							style="width: 200px;" name="productName" id="producName"
							ng-model="product" ng-change="getProductDetail()"
							ng-options="product.productName for product in productDetailList">
							<option value=""></option>
						</select>
					</div>
					<br>
					<div>
						<label style="margin-right: 40px">Price </label>
						 <input
							style="width: 200px; margin-top: 10px; margin-left: 10px"
							type="text" name="productPrice" placeholder="ProductPrice"
							id="productPrice" ng-model="product.price" disabled="disabled" />
					</div>
					<br>
					<div>
						<label style="margin-right: 30px">Quantity</label>
						 <input
							style="width: 200px; margin-top: 10px;" type="text"
							placeholder="ProductQuantity" ng-model="productQuantity"
							ng-change="getProductQuantity()" />
					</div>
					<br>
					<div>
						<label style="margin-right: 10px">Total	Price</label>
						<input 
							style="width: 200px; margin-top: 10px;margin-left: 10px;
							"type="text"  disabled="disabled" ng-model="totalPrice"/>
						</div>
							<br>
							<div>
								<label style="margin-right: 10px">Customer Id</label> <input
									style="width: 200px; margin-top: 10px" type="text"
									placeholder="CustomerId" ng-model="customerId" />
							</div>
							<br>
							<div>
								<input style="width: 50px;" type="button" value="Add"
									ng-click="create()">
								<div>
									<br>
				</fieldset>
			</form>
		</div>
	</div>